.inner-panel{
	margin: auto;
	width: 40%;
	height: 380px;
	padding: 30px;
	margin-top: 70px;
	background-color:#6666ff;
}
fieldset{
	border: none;
}
#question-div{
	height: 90px;
	width: auto;
}
#options-div{
	height: 150px;
	width: auto;
}
.background-color{
	background-color: #26004d; /* dark purple */
}
li{
	list-style-type: none;
}
.center {
	text-align: center;
	margin: 0 auto;
}
.hidden {
	display: none; /* visibility: hidden will take space. display: none will not.; */
}
.label {
	font-weight: bold;
	font-size: 30px;
	margin-top: 5px;
}
.font {
	font-family: "ar cena";
}
h1 {
	padding-top:40px;
	color: #6666ff;
	font-size: 40px;
}
.button{
	width: 120px;
	height: 50px;
	margin-top: 50px;
	font-size: 30px;
	
}